# HOW TO USE:
#
# 1 Add environment variables for the various stages here
# 2 Rename this file to env.yml and uncomment it's usage
#   in the serverless.yml.
# 3 Make sure to not commit this file.

dev:
  APP_NAME: serverless-nodejs-starter
  FIREBASE_PROJECT_ID: 
  FIREBASE_DATABASEURL: 
  FIREBASEADMIN_TYPE: 
  FIREBASEADMIN_PRIVATE_KEY_ID: 
  FIREBASEADMIN_PRIVATE_KEY: 
  FIREBASEADMIN_CLIENT_EMAIL: 
  FIREBASEADMIN_CLIENT_ID: 
  FIREBASEADMIN_AUTH_URI: 
  FIREBASEADMIN_TOKEN_URI: 
  FIREBASEADMIN_AUTH_PROVIDER_X509_CERT_URL: 
  FIREBASEADMIN_CLIENT_X509_CERT_URL: 
  FIREBASECLIENT_APIKEY: 
  FIREBASECLIENT_AUTHDOMAIN: 
  FIREBASECLIENT_STORAGEBUCKET: 
  FIREBASECLIENT_MESSAGINGSENDERID: 

prod:
  APP_NAME: serverless-nodejs-starter
  FIREBASE_PROJECT_ID: 
  FIREBASE_DATABASEURL: 
  FIREBASEADMIN_TYPE: 
  FIREBASEADMIN_PRIVATE_KEY_ID: 
  FIREBASEADMIN_PRIVATE_KEY: 
  FIREBASEADMIN_CLIENT_EMAIL: 
  FIREBASEADMIN_CLIENT_ID: 
  FIREBASEADMIN_AUTH_URI: 
  FIREBASEADMIN_TOKEN_URI: 
  FIREBASEADMIN_AUTH_PROVIDER_X509_CERT_URL: 
  FIREBASEADMIN_CLIENT_X509_CERT_URL: 
  FIREBASECLIENT_APIKEY: 
  FIREBASECLIENT_AUTHDOMAIN: 
  FIREBASECLIENT_STORAGEBUCKET: 
  FIREBASECLIENT_MESSAGINGSENDERID: 
